body {
    padding-bottom: 100px;
}
.login-page {
    background-color:#ffd1dc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 350px;

}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.custom-button {
    background-color:#e60073;
    border: none;
}

.custom-button:hover {
    background-color: #ffd1dc;
}
/*MOVIELIST STYLING*/

.navbar-color {
    background-color: #ffd1dc;
}

.table-color th {
    background-color: #ffd1dc;
    color: black;
}

.table-color th:first-child {
    border-top-left-radius: 8px;
}
.table-color th:last-child {
    border-top-right-radius: 8px;
}

/*SINGLE MOVIE AND SINGLE STAR STYLING*/
.movie-info, .star-info, .year-line {
    display: inline;
}
.year {
    font-size: 0.8em;
    font-style: italic;
    margin-left: 10px;
    display: inline;
}

/*AUTOCOMPLETE STYLING*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }